@media(max-width : 1000px){
  .container{
    flex-direction: column-reverse;
  }
  .left1{
    margin-top: 20px;
  }
}
@media(max-width : 980px){
  .a-container{
    flex-direction: column;
    width: 60%;
    /* background-color: red; */
  }
  .a-container .a-left{
    width: 100%;
    justify-content: center;
  }
  .a-container .a-left img {
    margin-top: 50px;
  }
  .a-container .a-right{
    margin-top: 200px;
    width: 100%;
    justify-content: center;
  }
}
@media(max-width : 620px){
  .hamburger{
    display: block;
  }
  .navItems{
    display: none;
  }
  .container .right1 img{
    height: 300px;
    width: 300px;
  }
}
@media(max-width : 520px){
  .a-container{
    background-color: rgb(3, 3, 33);
  }
}
@media(max-width : 450px){
  .container .right1 img{
    height: 200px;
    width: 200px;
  }
}

